<div class="container">
    <%= @user.name%>のフォロー/フォロワー一覧
    <div class="row ">
        <h2>フォロワー</h2>
            <% @user.followers.each do |user| %>
                <%= render 'date', user: user %>
                <%= render 'follow_form', user: user %>
                <br>
            <% end %>
    </div>

    <div class="row ">
        <h2>フォーロー</h2>
            <% @user.followed_users.each do |user| %>
                <%= render 'date', user: user %>
                <%= render 'follow_form', user: user %>
                <br>
            <% end %>
    </div>
</div>
